/* common styling */
h1{font-size:1.6em;}
h2{font-size:1em;}
a,a:visited{color:#fff;outline:none !important;text-decoration:none;}
a img,a:visited img{border:none;}
textarea{overflow:auto;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
/* end */

body{background:url("../img/bg.png");color:#fff;padding:10px 30px 10px 30px;}

h1{float:left; margin-right:30px; line-height:20px;color:#f6f6f6;text-shadow: 1px 1px 5px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}

.topsection{border-right:1px solid #999;height:40px;padding:0 10px;width:auto;display:inline;}
.topsection img{margin-top:7px;float:left;margin-right:3px;}
.topsection a{float:left;display:inline;}

#main{margin-left:10%;width:90%;padding-bottom:50px;margin-top:120px;}

#head{
   position:absolute;
   margin:0 auto;
   width:800px;
   height:43px;
   top:20px;
   left:50px;
   padding:10px;
   right:30px;

   background-color: transparent;
   background-color: rgba(255, 255, 255, 0.3);  
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF);
   zoom: 1;

   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   margin-bottom:100px;
}

#donate{float:right;margin-top:7px;margin-left:5px;}

#head p{
   clear:both;
   width:200px;
}