.tooltip:hover
{
  border: 0;
}

.tooltip:hover span
{
  visibility: visible;
}


.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  top: -10px;
  left: 50%;
  margin-left: -8px;  
  border-bottom: 8px solid #59add4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-top: 0;  
}

.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}

/* Yellow */

.yellow-tooltip span
{

  border-color: #e1ca82;
  background-color: #ffeaa6;                     
}

.yellow-tooltip span:after
{ 
  border-top-color: #ffeaa6;
}

.yellow-tooltip span:before
{
  border-top-color: #e1ca82;
}
